.form-control, .form-select, input{
    font-family: "Nunito", sans-serif !important;
    font-size: .873rem !important;
    font-weight: 400 !important;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background: rgba(38, 38, 38, 1);
  transition: 0.5s;
  z-index: 999;
}

@media (min-width: 992px) {
  .sidebar {
    margin-left: 0;
  }

  .sidebar.open {
    margin-left: -250px;
  }

   .contents {
    width: calc(100% - 250px);
  }

   .contents.open {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    margin-left: -250px;
  }

  .sidebar.open {
    margin-left: 0;
  }

   .contents {
    width: 100%;
    margin-left: 0;
  }
}

.sidebar .navbar .navbar-nav .nav-link {
  border-radius: 0 30px 30px 0;
  outline: none;
  /* font-family: "Poppins", sans-serif; */
  font-family: "tabler-icons", sans-serif !important;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 20px;
  color: black;
  /* border-bottom: 1px solid black; */
  border-radius: 0;
}

.customer-sidebar .navbar .navbar-nav .nav-link {
  /* font-family: "Inter", sans-serif !important; */
  font-family: "tabler-icons", sans-serif !important;
  font-weight: 400;
  color: black;
  border: none;
  margin: 5px 14px;
  border-radius: 5px;
  padding: 7px 12px;
}

.customer-sidebar .navbar .navbar-nav .nav-link:hover{
  background: #F2F2F2;
}
.customer-sidebar .navbar .navbar-nav .nav-link.active {
  /* font-family: "Inter", sans-serif !important; */
  font-family: "tabler-icons", sans-serif !important;
  font-weight: 600;
  color: #FE9F43;
  border: none;
  /* background: rgba(243, 244, 248, 1); */
  background: #FCEFEA;
}

.sidebar .navbar .dropdown-toggle::after {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: 0.5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item i {
  font-size: 7px;
}

.sidebar .navbar .dropdown-item.active {
  background-color: transparent !important;
  color: #FE9F43 !important;
}

.sidebar .navbar .dropdown-item:hover i,
.sidebar .navbar .dropdown-item.active i {
  border: 1px solid #FE9F43;
  border-radius: 50%;
  padding: 2px;
  color: #FE9F43 !important;
}

.sidebar .navbar .dropdown-item:hover {
  background-color: transparent !important;
  color: #FE9F43 !important;
}

.sidebar .navbar .dropdown-item {
  padding: 6px 45px;
  /* font-family: "Poppins", sans-serif; */
  font-family: "tabler-icons", sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  color: black;
  background-color: none !important;
  /* border-bottom: 1px solid black; */
}

.sidebar .navbar .dropdown-item:hover {
  background: none;
}


@media(max-width: 768px) {
  .input-search input {
      width: 195px;
  }

  .sidebar {
      top: 14%;
  }
}

.sidebar .navbar .dropdown-toggle::after{
  top: 8px;
  right: 50px;
}

/* End new sidebar css */

/* old css */
.partially-paid {
  font-family: "Nunito", sans-serif !important;
  font-size: 40px !important;
  font-weight: 100 !important;
}

body {
  font-family: "Nunito", sans-serif;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/* Button */
.save-btn {
  /* background: #FE9F43; */
  background: #FE9F43;
  color:white;
  font-family: "Nunito", sans-serif;
  /* font-size: 11.382px; */
  font-size: 13.008px;
  font-weight: 400;
}

.green-btn {
  background: rgba(53, 166, 91, 1);
  font-family: "Nunito", sans-serif;
  font-size: 13.008px;
  font-weight: 400;
}

.newsale-btn {
  background: rgba(84, 126, 139, 1);
  font-family: "Nunito", sans-serif;
  font-size: 13.008px;
  font-weight: 400;
}

.green-btn:hover {
  background: rgba(53, 166, 91, 1);
}

.delete-btn {
  background: rgba(187, 55, 47, 1);
  font-family: "Nunito", sans-serif;
  font-size: 13.008px;
  font-weight: 400;
}

.delete-btn:hover {
  background: rgba(187, 55, 47, 1);
}

.print-btn {
  background: rgba(85, 171, 233, 1);
  font-family: "Nunito", sans-serif;
  font-size: 13.008px;
  font-weight: 400;
}

.print-btn:hover {
  background: rgba(85, 171, 233, 1);
}

.save-btn:hover {
  background: #FE9F43;
}

.pdf {
  /* border: 1px solid rgba(114, 220, 105, 1); */
  border: 1px solid #0E9384;
  /* color: rgba(114, 220, 105, 1); */
  color: #0E9384;
  font-family: "Nunito", sans-serif;
  font-size: 11.382px;
  font-weight: 400;
}

.pdf:hover {
  /* background: rgba(114, 220, 105, 1); */
  background: #0E9384;
  color: white;
}

.create-btn {
  /* border: 1px solid #FE9F43; */
  border: 1px solid #E04F16;
  /* color: #FE9F43; */
  color: #E04F16;
  font-family: "Nunito", sans-serif;
  font-size: 11.382px;
  font-weight: 400;
}

.manage-tier-btn {
  border: 1px solid rgba(79, 79, 79, 1);
  color: rgba(79, 79, 79, 1);
  font-family: "Nunito", sans-serif;
  font-size: 11.382px;
  font-weight: 400;
}

.manage-tier-btn:hover {
  background: rgba(79, 79, 79, 1);
  color: white;
}

.import-customer-btn {
  border: 1px solid rgba(226, 166, 64, 1);
  color: rgba(226, 166, 64, 1);
  font-family: "Nunito", sans-serif;
  font-size: 11.382px;
  font-weight: 400;
}

.import-customer-btn:hover {
  background: rgba(226, 166, 64, 1);
  color: white;
}

.excel-btn {
  /* border: 1px solid rgba(187, 55, 47, 1); */
  border: 1px solid #FF0000;
  /* color: rgba(187, 55, 47, 1); */
  color: #FF0000;
  font-family: "Nunito", sans-serif;
  font-size: 11.382px;
  font-weight: 400;
}

.excel-btn:hover {
  /* background: rgba(187, 55, 47, 1); */
  background: #FF0000;
  color: white !important;
}

.create-btn:hover {
  /* background: rgba(127, 99, 244, 1); */
  background: #E04F16;
  color: white;
}

.shopping-items.nav-link {
  border: 1px solid #FE9F43;
  color: #FE9F43;
}

.shopping-items.nav-link.active {
  background-color: #FE9F43;
}

.new-pagination a {
  color: black;
  float: left;
  padding: 4px 13px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.page-link {
  color: black;
}

.calendar-close-btn {
  position: absolute;
  z-index: 1;
  top: 70px;
  right: 50px;
}

.product-scroll {
  overflow-y: scroll;
  height: 0;
}

.qty-input {
  width: 50px;
  text-align: center;
  background: rgba(237, 242, 246, 1);
  height: 32px;
}

.qty-minus-btn {
  background: rgba(37, 99, 235, 1);
  color: white;
  align-items: center;
  border-radius: 4px 0 0 4px;
  height: 32px;
}

.qty-minus-btn:hover {
  background: rgba(37, 99, 235, 1);
  color: white;
}

.qty-plus-btn {
  background: rgba(37, 99, 235, 1);
  color: white;
  align-items: center;
  border-radius: 0 4px 4px 0;
  height: 32px;
}

.qty-plus-btn:hover {
  background: rgba(37, 99, 235, 1);
  color: white;
}

.main-footer {
  margin-top: 90px;
}

.bg-footer {
  background: rgba(76, 73, 227, 0.1);
  position: absolute;
  bottom: 0;
  /* left: 141px; */
  left: 17rem;
  right: 25px;
  margin-bottom: 10px;
}

.disabled-bg {
  background: rgba(13, 6, 45, 0.12);
}

.grey-bg {
  background: rgba(238, 238, 238, 1);
}

/* Button End */
.all-adjustment {
  /* border-bottom: 3px solid #FE9F43; */
  border-bottom: 3px solid #E04F16;
  width: 20%;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 500;
}


.go-green {
  color: rgba(159, 241, 152, 1);
}

.cutomer-management {
  width: 25%;
}

.main-heading {
  font-family: "Nunito", sans-serif;
  font-size: 70px;
  font-weight: 700;
}

.section-title {
  color: rgba(98, 95, 237, 1);
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.heading {
  font-family: "Nunito", sans-serif;
  font-size: 17.6px;
  font-weight: 400;
}

.section-heading {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.subheading {
  font-family: "Nunito", sans-serif;
  font-size: .873rem !important;
  font-weight: 400 !important;
  /* font-size: 1.1rem; */
}

.dropdown-item {
  font-family: "Nunito", sans-serif;
  font-size: .873rem !important;
  font-weight: 400 !important;
}

label {
  font-family: "Nunito", sans-serif;
  font-size: 13.008px;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

li {
  font-family: "Nunito", sans-serif;
  font-size: 15px !important;
  font-weight: 400;
}

.sidebar-ul li {
  margin: 15px 0;
}

.sidebar-ul li:hover {
  border-left: 4px solid #FE9F43;
  background: rgba(76, 73, 227, 0.1);
  padding: 10px;
}

.card-shadow {
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.15);
}

.pineapple-barcode {
  border-width: 0px 1px 1px 0px;
  border-style: dashed;
  border-color: rgba(215, 215, 215, 1);
}

.specific-border {
  border-bottom: 2px dotted rgba(237, 242, 247, 1);
}

.invoice-footer {
  background: rgba(76, 73, 227, 0.1) !important;
}


.tags-container {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px rgba(221, 221, 221, 1);
  height: 100px;
  border-radius: 10px;
}

.tags-container>input {
  flex: 1 0 auto;
  margin: 10px 7px;
  border: none;
  height: 25px;
}

.tag {
  margin: 10px 7px;
  background-color: rgba(221, 221, 221, 1);
  padding: 2px 24px 2px 8px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2a4a4b;
  position: relative;
  border-radius: 4px;
  display: inline-block;
  height: 25px;
  max-width: 161px;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}

.tag::after {
  content: "x";
  position: absolute;
  right: 6px;
  top: -5px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: rgba(187, 55, 47, 1);
  cursor: pointer;
}

/*** Layout ***/
/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 120px;
  height: 100vh;
  overflow-y: auto;
  background: rgba(248, 248, 248, 1);
  transition: 0.5s;
  z-index: 999;
  overflow-x: hidden;
  direction: rtl;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: grey;
} */

#product {
  position: fixed;
  left: 120px;
  top: 185px;
  background-color: #fff;
  z-index: 9999;
}

#sale {
  position: fixed;
  left: 120px;
  top: 310px;
  background-color: #fff;
  z-index: 9999;
}

#purchase {
  position: fixed;
  left: 120px;
  top: 432px;
  background-color: #fff;
  z-index: 9999;
}

#inventory {
  position: fixed;
  left: 120px;
  /* bottom: 0; */
  top: 550px;
  background-color: #fff;
  z-index: 9999;
}

#transfer {
  position: fixed;
  left: 120px;
  top: 681px;
  background-color: #fff;
  z-index: 9999;
}

#accounting {
  position: fixed;
  left: 120px;
  top: 805px;
  background-color: #fff;
  z-index: 9999;
}

#customer {
  position: fixed;
  left: 120px;
  top: 890px;
  /* top: 360px; */
  background-color: #fff;
  z-index: 9999;
}

#vendor {
  position: fixed;
  left: 120px;
  top: 1038px;
  /* bottom: 145px; */
  background-color: #fff;
  z-index: 9999;
}

#report {
  position: fixed;
  left: 120px;
  top: 1038px;
  /* bottom: 145px; */
  background-color: #fff;
  z-index: 9999;
}

#setting {
  position: fixed;
  left: 120px;
  bottom: 0 !important;
  /* top: 353px; */
  background-color: #fff;
  z-index: 9999;
}

 .contents {
  /* margin-left: 120px; */
  margin-left: 250px;
  /* height: 1863px; */
  /* min-width: 1228px; */
  min-height: 100vh;
  background: #FFFFFF;
  transition: 0.5s;
}

 .contents-header {
  height: 80px;
}

.nav-tabs .nav-link.active{
    background: #FE9F43 !important;
    color: white;
}

@media (min-width: 992px) {
  .sidebar {
      margin-left: 0;
  }

  .sidebar.open {
      margin-left: -250px;
  }

   .contents {
      width: calc(100% - 130px);
  }

   .contents.open {
      width: 100%;
      margin-left: 0;
  }
}

/* 991.98 */
@media (max-width: 1024px) {
  .sidebar {
      margin-left: -250px;
  }

  .sidebar.open {
      margin-left: 0;
  }

   .contents {
      width: 100%;
      margin-left: 0;
  }
}

/*** Navbar ***/
/* .sidebar .navbar .navbar-nav .nav-link {
  color: #111827;
  padding: 26px 0;
  width: 120px;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.sidebar .navbar .navbar-nav .nav-link i {
  font-size: 32px !important;
  height: 32px;
  width: 32px;
}

.sidebar .navbar .navbar-nav .nav-link p {
  font-size: 13px;
  font-weight: 400;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
  color: white;
  background: #FE9F43;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
  color: white;
} */

/*  .contents .navbar .navbar-nav .nav-link {
  margin-left: 25px;
  padding: 12px 0;
  color: var(--dark);
  outline: none;
} */

@media (max-width: 575.98px) {
   .contents .navbar .navbar-nav .nav-link {
      margin-left: 15px;
  }
}

.sales-amount {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: rgba(98, 95, 237, 1);
}

table {
  font-family: "Nunito", sans-serif;
  font-size: 13px !important;
}

/* badges */
.badges {
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  padding: 3px;
  /* min-width: 66px; */
}

.badge.bg-purple {
  /* background: #FE9F43; */
  background: #6938EF;
  width: 40px !important;
}

.badges.bg-lightgreen {
  /* background: rgba(113, 216, 117, 1); */
  background: #3EB780;
}

.badges.bg-lightred {
  /* background: rgba(244, 99, 99, 1); */
  background: #FF0000;
}

.badges.bg-darkwarning {
  /* background: rgba(226, 166, 64, 0.2); */
  background: #06AED4;
  color: rgba(191, 136, 44, 1);
}

.badges.green-border {
  /* border: 1px solid rgba(114, 220, 105, 1); */
  border: 1px solid #3EB780;
  color: #3EB780;
}

.badges.blue-border {
  /* border: 1px solid #FE9F43; */
  border: 1px solid #6938EF;
  color: #6938EF;
}

.badges.tier-one-bg {
  background: linear-gradient(95.35deg, #000000 -0.4%, #4C4C4C 54.6%, #000000 99.6%);
}

.badges.tier-two-bg {
  background: linear-gradient(95.35deg, #D5D758 -0.4%, #F1F1F1 54.6%, #D5D758 99.6%);
}

.badges.tier-three-bg {
  background: linear-gradient(95.35deg, #B9B9B9 -0.4%, #F1F1F1 54.6%, #B9B9B9 99.6%);
}

.badges.tier-four-bg {
  background: linear-gradient(95.35deg, #D2A47A -0.4%, #F1F1F1 54.6%, #D2A47A 99.6%);
}

.badges.tier-standard-bg {
  background: linear-gradient(95.35deg, #9CF087 -0.4%, #DFFFDE 50.5%, #9CF087 99.6%);
}

.badges.shiped-bg {
  background: rgba(29, 29, 29, 0.15);
}

.badges.packed-bg {
  background: rgba(40, 85, 173, 0.15);
  color: rgba(40, 85, 173, 1);
}

.badges.cancelled-bg {
  background: rgba(187, 55, 47, 0.15);
  color: rgba(187, 55, 47, 1);
}

.badges.delivered-bg {
  background: rgba(33, 187, 19, 0.1);
  color: rgba(33, 187, 19, 1);
}

/* checkbox */
.checkbox__input {
  position: absolute;
  width: 1.375em;
  height: 1.375em;
  opacity: 0;
  cursor: pointer;
}

.checkbox__input:checked+.checkbox__icon .tick {
  stroke-dashoffset: 0;
}

.checkbox__icon {
  width: 1.375em;
  height: 1.375em;
  flex-shrink: 0;
  overflow: visible;
}

.checkbox__icon .tick {
  stroke-dasharray: 20px;
  stroke-dashoffset: 20px;
  transition: stroke-dashoffset 0.2s ease-out;
}

/********* Sign Up / Login ***********/
.signup-body {
  background: linear-gradient(118deg, #161546 0%, #27267d 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.signup {
  margin: 31px auto;
  position: relative;
}

.right-down-arrow {
  position: absolute;
  right: 3px;
  top: -80px;
  width: 27%;
  z-index: -1;
}

.signup-form {
  max-width: 420px;
  padding: 45px 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
}

.signup-input input {
  background: rgba(255, 255, 255, 0.3);
  border: none;
  height: 53px;
  margin-top: 20px !important;
}

.signup-input input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.print-overlay input::placeholder {
  color: rgba(221, 221, 221, 1);
}

.print-overlay label {
  color: rgba(221, 221, 221, 1);
}

.password-container {
  position: relative;
}

.password-input {
  padding-right: 30px;
  width: 100%;
  box-sizing: border-box;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

.password-toggle:hover {
  color: #333;
}

.exist a {
  color: rgba(127, 99, 244, 1);
}

.keep-me-logged .checkboxing {
  margin: 0 5px 0 0 !important;
  height: 24px;
}

/* Profile page */
.profile-username {
  padding: 20px 0;
}

.calendar-icon {
  background: rgba(247, 247, 248, 1);
  padding: 5px;
}

.ui-widget.ui-widget-content {
  width: 100%;
  padding: 50px 20px 20px;
}

.ui-widget-content .ui-state-default {
  border: none;
  background: none;
  text-align: center;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  color: #FE9F43;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
  text-align: center;
  background: #FE9F43;
  color: white;
}

.ui-datepicker .ui-datepicker-header {
  background: white;
  border: none;
}

.calendar-modal {
  background: none;
  border: none;
  box-shadow: none;
}

@media (max-width: 576px) {
  .stock {
      margin-top: 10px;
  }
}

/* File Upload */
.file-upload {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed rgba(215, 215, 215, 1);
  border-radius: 0.5rem;
  transition: background-color 0.25s ease-out;
  padding: 1.5rem .5rem;
  margin: 20px 50px;
  text-align: center;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  outline: none;
  cursor: pointer;
}

.input-search .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 18px;
}


.input-search input {
  padding-left: 40px;
}


.search-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 5px;
  z-index: 1;
  overflow: auto;
  max-height: 150px;
  scrollbar-width: thin;
}

.search-item {
  padding: 5px;
  cursor: pointer;
}

.search-item:hover {
  background-color: #f0f0f0;
}

.nav-tabs {
  border-color: #FE9F43;
}

.nav-tabs .nav-link {
  color: black;
}

.nav-tabs .nav-link.active {
  border-color: #FE9F43;
  border-bottom: none;
  background: rgb(194 193 247);
}

.nav-tabs .nav-link:hover {
  border: none;
}


/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #d1d5db;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  height: 25px;
  width: 53px;
}

.slider:before {
  position: absolute;
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
  width: 1.5em;
  inset: 0;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked+.slider {
  background: #FE9F43;
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px #FE9F43;
}

.switch input:checked+.slider:before {
  transform: translateX(1.6em);
}

.accordion-button:not(.collapsed) {
  background: #FE9F43;
  color: white;
}

@media (max-width: 425px) {
  .search-dropdown {
      width: 100%;
  }
}

@media (max-width: 768px) {
  .all-adjustment {
      border-bottom: 3px solid #FE9F43;
      width: 100% !important;
  }

  .sale-generated {
      width: 100% !important;
  }

  .cutomer-management {
      width: 100%;
  }

  .file-upload {
      margin: 20px;
  }
}

@media (width: 1920px) {
  .file-upload {
      margin: 20px 90px;
      padding: 2.5rem;
  }

  .signup {
      margin: 120px auto;
  }

  .signup-form {
      margin: 50px auto;
      max-width: 500px;
      padding: 60px 25px
  }

  .right-down-arrow {
      position: absolute;
      right: 3px;
      top: -178px;
      width: 18%;
  }
}

@media (max-width: 1024px) {
  .main-footer {
      margin-top: 80px;
  }

  .bg-footer {
      position: absolute;
      bottom: 0;
      left: 20px;
  }
}

@media(max-width: 750px) {
  .product-scroll {
      overflow-y: hidden;
      height: 100%;
  }
}

@media (max-width: 576px) {
  .varient-product {
      flex-wrap: wrap;
  }

  .varient-product .excel-btn {
      margin-top: 0 !important;
  }

  .right-down-arrow {
      display: none;
  }

  .signup-img {
      display: none;
  }

  .personal-info-row div {
      text-align: center !important;
  }

  .main-footer {
      margin-top: 125px;
  }

  .product-scroll {
      overflow-y: hidden;
      height: 100%;
  }

  .invoice-border{
      border: none !important;
  }
}
/* End old css */


/* new css */
.orange-bg{
  background: #FE9F44;
}

.lightorange-bg{
  background: #FCEFEA;
}

.darkblue-bg{
  background: #092C4C;
}

.bg-purple{
  background: #6938EF !important  ;
}

.bg-red{
  background: #FF0000;
}

.bg-skyblue{
  background: #06AED4;
}

.bg-green{
  background: #3EB780;
}

.darkgreen-bg{
  background: #0E9384;
}

.normalblue-bg{
  background: #155EEF;
}

.orange-txt{
  color: #FE9F44;
}

.darkorange-txt{
  color: #E04F16;
}

.darkgreen-txt{
  color: #0E9384;
}

.darkblue-txt{
  color: #391694;
}

.category-item.category-item.category-primary p::before {
  content: "";
  width: 4px;
  height: 10px;
  position: absolute;
  top: 6%;
  left: -7%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  border-radius: 4px;
}
.category-item.category-item.category-orange p::before {
  content: "";
  width: 4px;
  height: 10px;
  position: absolute;
  top: 39%;
  left: -7%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  border-radius: 4px;
}
.category-item.category-item.category-item.category-secondary p::before {
  content: "";
  width: 4px;
  height: 10px;
  position: absolute;
  top: 73%;
  left: -7%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  border-radius: 4px;
}

.category-item.category-primary p::before {
  background: #FE9F43;
}

.category-item.category-orange p::before {
  background: #E04F16;
}
.category-item.category-secondary p::before {
  background: #092C4C;
}

.apexcharts-toolbar{
  display: none !important;
}

.bg-cyan-transparent {
  background: #E9F8FB !important;
}

.bg-orange-transparent {
  background: #FCEFEA;
}

.bg-indigo-transparent {
  background: #EDEDFB;
}

.bg-teal-transparent {
  background: #E9F5F4;
}

.revenue-widget .revenue-icon {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.txt-ellipses{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;

}

@media(max-width:576px){
  .sidebar{
    width: 100%;
    margin-left: -432px ;
    top: 4%;
  }
}
/* end new css */
